.center{
    margin-left: 
    26%;
}

.err-msg{

    color: red;

}

.cen{
    margin-left: 
    18%;
}


.center{
    margin-left:25%;
}



/* input .ng-touched .ng-invalid {


    border: 2px solid red;
}

input .ng-touched .ng-valid {


    border: 2px solid rgb(14, 218, 65);
}

 */














